@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 250px;  
  padding: 20px;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  padding: 0 10px;
}

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  margin-bottom: 10px;
}

.prev-play-next {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.audio-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding-top: 10px;
}

.progress-wrapper, .volume-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.audio-time {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  font-size: 12px;
  text-align: left;
  color: #fff;
}

.player-range {
  outline: none;
  height: 5px;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
  background: #cecece;
  width: 55%;
}

.player-range::-webkit-slider-thumb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #fff;
}

.volume-slider {
  background: #24809E;
  width: 50%;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon {
  filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(264deg) brightness(100%) contrast(102%);
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.translate-btn:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/backward.svg");
}

.play-next {
  background-image: url("../assets/svg/forward.svg");
}

.volume-button {
  background-image: url("../assets/svg/volume-on.svg");
}

.volume-mute {
  background-image: url("../assets/svg/volume-mute.svg");
} 

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.translate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}

.translate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #d5d5d8;
  border-radius: 50%;
  color: #d5d5d8;
  background: transparent;
  cursor: pointer;
  transition: .3s; 
}

.translate-btn:hover {
  border: 2px solid #fff;
  color: #fff;
} 

.links-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 173px;
  margin-top: 10px;
  z-index: 2;
}

.links-board-wrapper {
  overflow: hidden;
  width: 100%;
  padding-top: 10px;
}

.links-board {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-200%);
}

.links-board-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 0.3s;
}

.links-board::before, .new-link-board::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  transform: rotate(45deg) translateX(-50%);
}

.links-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 3px 0;
}

.link-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.link-icon:hover, .back-icon:hover {
  filter: invert(56%) sepia(0%) saturate(4528%) hue-rotate(147deg) brightness(99%) contrast(100%);
  transition: 0.3s;
}

.delete-icon {
  margin-right: 0;
  cursor: pointer;
}

.links-title {
  cursor: pointer;
  margin-bottom: 10px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.link:hover span {
  color: #919191;
  transition: 0.3s;
}

.link, .link:visited {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #2c2c2c;
  text-decoration: none;
}

.link-name {
  margin-top: 3px;
}

.add-link, .create-new {
  padding: 8px;
  color: #cecece;
  border: none;
  border-radius: 3px;
  background: #2c2c2c;
  cursor: pointer;
}

.new-link-board {
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 143px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(-200%);
}

.new-link-board-visible {
  opacity: 1;
  transform: translateX(0);
  transition: 0.3s;
}

.back {
  position: absolute;
  border: none;
  background: transparent;
  cursor: pointer;
}

.back-icon {
  width: 15px;
}

.label {
  width: 100%;
  color: #2c2c2c;
  margin-bottom: 10px;
}

.link-input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #2c2c2c;
}

.link-input-error {
  border-bottom: 1px solid #f84e4e;
}

.add-link:hover, .create-new:hover {
  color: #fff;
  transition: 0.3s;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.student-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.school-logo-icon, .student-github-icon {
  height: 30px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

@media (max-width: 530px) {
  .links-board, .new-link-board {
    padding: 5px;
  }

  .link-icon {
    margin-right: 0;
  }
}